.main-template {
    background: white;
    width: 512px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16), 0 3px 6px rgba(0, 0, 0, 0.23); /* 그림자 */
    margin: 0 auto; /* 페이지 중앙 정렬 */
    margin-top: 4rem;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    background: #339af0;
    color: white;
}

.create-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
}

.create-button:hover {
    background: #3bc9db;
}

.form-wrapper {
    padding: 1rem;
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 1px solid #22b8cf;
}

.habits-wrapper {
    min-height: 5rem;
    font-size: 2.5rem;
    text-align: center;
}